<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<style>
		body {
			background-color: #f6f8fa
		}
	</style>
</head>

<body>

	<p>Hi,</p>
	<p>You requested to reset your password.</p>
	<p>
		In order to activate the new password, if you indeed requested this password change,
		please click the "Confirm Password Reset" link below.
	</p>
	<p>
		<a href="{{link}}">Confirm Password Reset</a>
	</p>
	<p>However, if you have not requested this, kindly disregard this email.</p>
	<p>Cheers! 🥂🥂</p>
</body>

</html>